node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
/Dokumentation/*.aux
/Dokumentation/Makefile
/Dokumentation/*.lof
/Dokumentation/*.log
/Dokumentation/*.lot
/Dokumentation/*.lol
/Dokumentation/*.out
/Dokumentation/*.toc
/Dokumentation/*.md
/Dokumentation/bin
# macOS
.DS_Store
